button {
  padding: 5px 20px 1px 20px;
  border: none;
  background-color: whitesmoke;
  border-bottom: 4px solid whitesmoke;
  margin: 0px 1px;
  font-weight: bold;
}

button:hover {
  border-bottom: 4px solid greenyellow!important;
}

button.selected {
  background-color: lightgoldenrodyellow!important;
  border-bottom: 4px solid greenyellow!important;
}

nav {
  background-color: #002233;
  padding: 5px;
  margin: 5px 0px;
  display: flex;
  justify-content: space-between;
}

.push-left {
  margin-right: auto;
}

.to-center {
  margin-right: auto;
  margin-left: auto;
}

.push-right {
  margin-left: auto;
}
