<h3>Imagens:</h3>
<ul>
  <li>
    <a href="http://www.freepik.com/">Freepik</a>
  </li>
  <li>
    <a href="https://picsum.photos/">Lorem Picsum</a>
  </li>
</ul>
<h3>Sons:</h3>
<ul>
  <li>
    <a href="http://www.orangefreesounds.com/">Orange Free Sounds</a>
  </li>
</ul>
<h3>Código:</h3>
<ul>
  <li>
    <a href="https://github.com/caiocampos/tabs/">Caio Campos</a>
  </li>
</ul>
<h3>Outros:</h3>
<ul>
  <li>
    <a href="https://baconipsum.com/">Bacon Ipsum</a>
  </li>
  <li>
    <a href="https://online-audio-converter.com/">Online Audio Converter</a>
  </li>
</ul>