<tb-tabs clickSoundResource="./assets/snd/Hit-sound.ogg">
  <tb-tab id="lorem-picsum" description="Lorem Picsum" active="true">
    <div class="random-img">
      <img src="https://picsum.photos/{{width}}/{{height}}" alt="Imagem aleatória">
    </div>
  </tb-tab>
  <tb-tab id="bacon-ipsum" description="Bacon Ipsum">
    <app-bacon-ipsum></app-bacon-ipsum>
  </tb-tab>
  <tb-tab id="about" description="Sobre" position="right" clickSoundResource="./assets/snd/Connection-established-sound-effect.ogg">
    <app-about></app-about>
  </tb-tab>
</tb-tabs>
