<app-tabs>
  <app-tab id="home" description="Início" active="true">
    <div class="random-img">
      <img src="https://picsum.photos/1000/500/?random" alt="Imagem aleatória">
    </div>
  </app-tab>
  <app-tab id="bacon-ipsum" description="Bacon Ipsum">
    <p>Bacon ipsum dolor amet pork loin kielbasa tri-tip swine pancetta shank. Alcatra sausage rump, venison brisket
      leberkas pork loin porchetta pig picanha landjaeger jerky. Drumstick salami pork belly pork loin sausage short
      loin chicken short ribs shoulder pork chop. Kielbasa picanha chicken, turkey ham short loin ham hock tenderloin
      bresaola brisket shoulder. Tri-tip doner leberkas biltong, sirloin cupim pork loin. Salami prosciutto landjaeger,
      jerky tail bresaola shoulder tri-tip. Tail prosciutto meatball, pork belly pancetta ground round tri-tip pork
      chop doner short loin corned beef swine kevin.</p>
    <p>Pastrami brisket ribeye, picanha pork loin sirloin biltong pork chop prosciutto meatloaf sausage kevin chicken
      buffalo. Chuck tri-tip drumstick, filet mignon flank pork chop burgdoggen short ribs cow. Venison pig kielbasa
      cupim shankle. Chicken brisket swine, biltong sausage frankfurter leberkas beef ribs pancetta fatback. Sausage
      tongue alcatra leberkas corned beef.</p>
    <p>Capicola t-bone picanha tenderloin strip steak ground round. Boudin short ribs jerky, picanha ham flank ball tip
      andouille cupim tongue pastrami pork. Leberkas ball tip drumstick sirloin strip steak kevin biltong picanha
      shankle jowl jerky landjaeger boudin hamburger brisket. Pastrami frankfurter meatball porchetta chuck, fatback
      burgdoggen alcatra sirloin brisket.</p>
    <p>Ham jowl pork loin rump turkey ground round, cupim ball tip cow. Tail ham shank strip steak corned beef. Beef
      venison shank pig salami cow. Ham pig landjaeger ribeye tail shankle pork chop pork loin pancetta t-bone picanha
      frankfurter doner. Bresaola frankfurter tenderloin beef ribs boudin ribeye swine biltong picanha sirloin.</p>
    <p>Bacon prosciutto pastrami shoulder chuck, short ribs ham leberkas buffalo pork belly pork loin tail bresaola.
      Pig pork belly tongue t-bone fatback, sausage filet mignon beef ribs corned beef alcatra. Burgdoggen chuck ground
      round kielbasa sirloin kevin. Drumstick andouille capicola alcatra ham, ground round shankle kielbasa bacon
      tri-tip chicken burgdoggen. Hamburger drumstick prosciutto, spare ribs fatback jowl turkey.</p>
    <p>Picanha pork pig, shankle swine bresaola leberkas filet mignon beef ribs rump pastrami. Alcatra burgdoggen
      turkey shoulder, fatback kielbasa short ribs jowl ball tip. Drumstick beef t-bone, shankle prosciutto pork
      sausage jowl. Turkey spare ribs alcatra tenderloin pork chop ribeye chicken cow pancetta kielbasa. Meatloaf
      alcatra prosciutto pork belly salami turducken t-bone. Chuck brisket frankfurter venison, short loin turkey
      cupim. Pork belly flank tenderloin picanha meatball ham hock.</p>
    <p>Beef ribs pancetta tongue, burgdoggen t-bone sirloin salami swine jowl chuck bacon beef biltong sausage. Turkey
      meatball chicken, jowl sirloin t-bone short ribs picanha beef ribs short loin pork belly andouille tail. Short
      loin porchetta meatloaf salami bresaola kevin. Pig sirloin jerky shoulder, pork chop drumstick prosciutto. Rump
      shank beef ribs shoulder. Meatball hamburger tongue, pancetta turducken pig ham ground round spare ribs sausage
      tenderloin pork cupim prosciutto beef.</p>
    <p>Ground round pork chop shankle pig alcatra. Leberkas landjaeger pork loin tenderloin pastrami, sirloin pork
      fatback doner. Cow shoulder andouille chicken landjaeger ribeye cupim. Bresaola kevin pig, frankfurter meatball
      cupim swine venison buffalo alcatra tri-tip corned beef flank pork loin.</p>
    <p>Pork belly shank cupim, rump buffalo salami ribeye t-bone boudin ball tip. Short ribs spare ribs capicola pork
      loin, sirloin porchetta hamburger ball tip jerky frankfurter bacon beef meatloaf landjaeger pork. Tenderloin
      capicola pastrami flank. Pancetta turkey hamburger kielbasa meatball. Andouille strip steak meatball short loin,
      meatloaf frankfurter kevin beef drumstick fatback ham short ribs. Pork loin biltong brisket prosciutto jowl
      hamburger. Pastrami drumstick brisket capicola t-bone landjaeger sausage shankle frankfurter flank chuck chicken.</p>
    <p>Sirloin hamburger rump ball tip landjaeger, frankfurter sausage shankle porchetta ribeye. Tenderloin frankfurter
      capicola, beef ribs brisket doner biltong ball tip ground round. Burgdoggen drumstick flank, salami bacon
      andouille t-bone. Shank kevin chicken salami fatback pork chop burgdoggen kielbasa jowl bacon picanha. Ham hock
      leberkas corned beef, porchetta tail sirloin tri-tip jerky andouille prosciutto. Biltong andouille turducken
      capicola, sirloin boudin cupim swine tenderloin shank alcatra pork chop ribeye. Pancetta cow brisket ball tip
      porchetta, strip steak burgdoggen hamburger meatball pork chop tenderloin chuck shank sirloin.</p>
    <p>Corned beef meatball leberkas shankle turducken beef ribs short loin brisket pork chop ham hock turkey doner
      meatloaf burgdoggen. Bresaola rump ground round sirloin meatloaf prosciutto. Cow ham hock prosciutto, buffalo
      chicken spare ribs tenderloin pork chop tail andouille venison brisket kevin turkey. Kevin meatball ham
      drumstick.</p>
    <p>Capicola jowl bacon landjaeger, porchetta turducken beef ribs alcatra. Strip steak pork chop porchetta beef.
      Kevin filet mignon sirloin ham bresaola, frankfurter venison swine meatloaf jowl picanha. Venison short ribs beef
      ribs pig ground round ham hock rump turducken brisket alcatra boudin landjaeger flank burgdoggen corned beef.
      Strip steak short ribs tri-tip, pork chop biltong frankfurter tongue pork loin pastrami. Kielbasa jowl kevin cow
      doner ham ball tip short ribs beef ribs meatball porchetta meatloaf chicken filet mignon landjaeger. Kielbasa
      hamburger pork belly, short loin salami beef ribs bacon buffalo ham hock shank.</p>
    <p>Pastrami meatball turducken corned beef boudin ground round shoulder beef ribs tri-tip. Shank chicken buffalo
      pork chop ribeye. Chuck alcatra turkey ribeye boudin cupim rump tenderloin flank shank. Bacon cupim pork loin
      strip steak turducken frankfurter t-bone doner kielbasa. Turkey jerky corned beef ribeye boudin fatback salami
      tenderloin bacon capicola pancetta filet mignon. Turducken short loin jerky hamburger kielbasa, brisket bresaola
      porchetta drumstick shank ham hock spare ribs corned beef sirloin rump.</p>
    <p>Frankfurter strip steak tri-tip brisket chicken filet mignon. Pork strip steak andouille ball tip pastrami
      flank, spare ribs tongue sausage. Pork loin porchetta burgdoggen brisket tenderloin meatball sausage. Leberkas
      kevin t-bone, turducken pork loin meatloaf venison filet mignon alcatra jowl meatball landjaeger flank ham hock
      doner.</p>
    <p>Andouille tenderloin filet mignon pork loin salami shank tail strip steak spare ribs landjaeger pork bacon
      drumstick jowl leberkas. Meatball tongue frankfurter, shoulder jerky ball tip alcatra salami flank. Meatloaf
      jerky porchetta, alcatra bacon andouille tail shoulder venison pork loin beef ribs. Shankle short ribs brisket
      porchetta ham hock tri-tip shoulder capicola pork chop turkey filet mignon pork loin t-bone. Beef ribs pork belly
      short ribs, bacon salami t-bone swine biltong sausage venison ham hock shankle.</p>
    <p>Leberkas andouille frankfurter, t-bone cow doner jowl picanha pastrami bresaola chuck. Beef buffalo pork loin,
      pancetta landjaeger capicola venison rump porchetta shankle. Pork venison flank shankle ribeye, tenderloin strip
      steak short loin prosciutto turducken andouille burgdoggen jerky pancetta. Capicola strip steak kevin burgdoggen,
      jowl venison cupim.</p>
    <p>Pig shankle biltong rump chuck cupim, buffalo tail alcatra. Salami doner jowl pork tail porchetta. Pork chop
      filet mignon salami, ground round andouille tenderloin pastrami cupim burgdoggen shoulder pork belly kielbasa
      prosciutto meatloaf ball tip. Hamburger kielbasa cow swine, cupim pork loin salami pork chop sausage t-bone bacon
      tri-tip. Fatback t-bone venison beef ribs shank sirloin tongue spare ribs prosciutto ham. Frankfurter corned beef
      ham bresaola. Pork loin buffalo bacon beef ribs.</p>
    <p>Tail andouille meatloaf pork loin rump pig chuck chicken short ribs pork cupim. Beef ball tip tail tri-tip short
      loin fatback frankfurter andouille kevin alcatra leberkas meatloaf beef ribs. Burgdoggen pork chop jowl tail pork
      frankfurter, ribeye boudin kevin flank. T-bone salami shankle frankfurter. Boudin pork belly bresaola, shankle
      tri-tip alcatra buffalo jowl fatback picanha t-bone. Shankle chicken t-bone ham shank tail flank andouille cow
      kielbasa.</p>
    <p>Ham hock biltong drumstick, leberkas rump chicken ribeye pork loin pancetta buffalo salami doner jowl.
      Prosciutto ribeye swine beef ribs burgdoggen flank alcatra ham meatball spare ribs biltong. Beef ribs buffalo
      fatback, pancetta shoulder tail leberkas frankfurter hamburger boudin pig drumstick kevin. Pig short loin
      porchetta, t-bone pancetta brisket salami pork belly ribeye drumstick leberkas jerky pastrami beef ribs. Filet
      mignon ham hock andouille picanha frankfurter biltong cow ham beef short ribs.</p>
    <p>Hamburger sirloin filet mignon beef ribs ground round ham hock venison shankle pig burgdoggen meatloaf rump cow
      fatback landjaeger. Ribeye pork belly turducken pastrami ball tip cow spare ribs pancetta. Turkey jowl pork belly
      filet mignon. Shoulder kevin prosciutto tail, jowl meatball fatback boudin alcatra pork chop. Jowl hamburger
      fatback ball tip.</p>
    <p>Meatloaf tenderloin fatback hamburger. Andouille pork loin shankle porchetta tail pig landjaeger t-bone shoulder
      leberkas. Turkey t-bone boudin brisket sirloin. Drumstick short loin beef ribs landjaeger ham andouille shankle
      meatball pig kielbasa. Ham hock brisket pork loin filet mignon buffalo frankfurter. Chuck pork sirloin
      landjaeger, pork loin rump meatball.</p>
    <p>Flank pastrami turducken beef ribs pig tri-tip bacon spare ribs alcatra meatball meatloaf. Fatback shoulder
      picanha short loin venison pancetta tongue ribeye brisket pork cupim swine. Short loin capicola jowl tail ball
      tip beef tenderloin chicken corned beef swine porchetta. Chuck ham sausage meatball pastrami brisket pork loin
      beef leberkas short loin. Hamburger picanha beef ribs turkey meatloaf.</p>
    <p>T-bone leberkas pastrami corned beef ribeye ball tip, tail boudin strip steak picanha cow pork belly landjaeger
      fatback beef. Rump spare ribs landjaeger, doner alcatra sausage ground round kevin sirloin kielbasa. Prosciutto
      bresaola flank cupim strip steak jowl, tri-tip brisket bacon venison alcatra pork chop salami. Pork rump short
      loin shank sausage, pork chop fatback cupim. Meatloaf cupim landjaeger pork loin. Jowl spare ribs meatloaf
      porchetta pork chop prosciutto. Pork belly tail ball tip short loin pork.</p>
    <p>Ground round cupim spare ribs kielbasa bacon shank meatloaf strip steak capicola. Pig tongue chicken buffalo,
      turkey swine pork tri-tip capicola chuck leberkas. Shankle ribeye pork ham hock, cupim swine jowl brisket doner.
      Kielbasa filet mignon hamburger turducken, beef ribs boudin tenderloin. Ribeye cow pork belly pig ham hock flank
      short loin capicola frankfurter pork tri-tip ham. Chuck alcatra turkey venison.</p>
    <p>Pancetta pork chop turkey bresaola prosciutto. T-bone kevin tail shankle, tri-tip pork belly boudin. Pancetta
      frankfurter boudin pig bacon short loin. Shank pig tongue fatback kevin flank. Venison pig pork chop, tail
      shankle brisket rump corned beef.</p>
    <p>Meatloaf shoulder beef ribs strip steak, shank salami jerky tenderloin biltong meatball brisket. Ham hock turkey
      sausage corned beef swine rump. Pastrami chuck pancetta landjaeger spare ribs brisket. Beef ham salami, andouille
      alcatra strip steak buffalo tri-tip doner shank sausage ham hock shankle ground round fatback.</p>
    <p>Shank brisket tail, cupim fatback kevin shoulder pork chop. Brisket landjaeger jowl kevin sausage fatback.
      Shankle kielbasa cupim, fatback ham brisket meatball bresaola sirloin ham hock ground round ball tip meatloaf
      beef ribs. Ball tip kevin andouille boudin, tenderloin pork belly short loin pig. Rump chicken ball tip doner.</p>
    <p>Rump tenderloin shank short ribs frankfurter sirloin biltong short loin sausage prosciutto shoulder ribeye
      buffalo meatloaf. Cow chuck frankfurter swine. Short ribs tail capicola cow hamburger jerky meatloaf biltong
      picanha sirloin. Pork chop chicken tenderloin leberkas, chuck rump pork belly pastrami cupim picanha tail shank.</p>
    <p>Pig burgdoggen leberkas buffalo shank ham hock doner. Fatback corned beef kevin shankle, buffalo pork porchetta
      jowl leberkas chuck bacon bresaola ham prosciutto pork loin. Kielbasa fatback beef ribs ham hock. Ball tip
      sirloin tri-tip beef ribs turkey filet mignon boudin doner kevin. Swine corned beef sirloin chuck meatloaf
      bresaola. Porchetta kevin turducken prosciutto biltong jowl sirloin fatback cow pork belly pastrami meatball
      landjaeger ham. Pastrami beef ground round ribeye.</p>
    <p>Picanha cow filet mignon, rump bacon ham tail shoulder tongue ham hock porchetta. Short ribs filet mignon jerky
      shoulder turducken, leberkas andouille ball tip salami brisket strip steak cow pancetta. Brisket pancetta
      bresaola jowl shankle. Tenderloin tail pork chop picanha.</p>
    <p>Kevin tenderloin pork loin rump picanha filet mignon pork chop boudin. Biltong flank filet mignon pancetta,
      shankle kevin spare ribs beef ribs corned beef tenderloin landjaeger beef jerky picanha ground round. Short ribs
      bresaola prosciutto sausage ribeye tongue strip steak fatback bacon tenderloin pork loin beef ribs picanha. Cow
      cupim turducken bacon. Filet mignon jowl meatball rump ham spare ribs flank. Rump pork brisket tri-tip.</p>
    <p>Tail biltong venison ham alcatra beef shoulder pancetta pork chop. Pork loin porchetta shank, short loin pork
      buffalo t-bone alcatra chicken tail pork belly frankfurter. Venison tongue tail shankle. Pig ball tip pork
      alcatra flank ham hock turducken swine buffalo ground round ribeye. Frankfurter meatball pastrami sausage
      drumstick short loin bresaola, bacon flank. Frankfurter jowl pork chop venison, pork loin doner fatback capicola
      sausage bacon landjaeger corned beef t-bone. Pig porchetta tenderloin, short loin tongue short ribs shoulder
      chicken landjaeger biltong leberkas swine frankfurter.</p>
    <p>Chicken ground round cow short loin doner landjaeger pancetta sausage pork. Ribeye corned beef burgdoggen
      shankle beef ribs. Jowl prosciutto meatloaf, short loin swine cow tongue. Swine meatloaf beef ribs pig, strip
      steak shankle rump ball tip ground round tongue hamburger boudin. Pig ground round filet mignon chicken cupim
      tail tongue venison pastrami. Ham hock sausage beef ribs ribeye brisket.</p>
    <p>Ham meatball chicken brisket buffalo. Alcatra cow pancetta sirloin corned beef andouille spare ribs ham hock
      brisket. Pastrami tongue t-bone pork filet mignon jerky. Shank ribeye short loin chicken, chuck biltong leberkas.</p>
    <p>Turducken pork loin kielbasa, tail bresaola capicola cupim jerky tri-tip prosciutto beef ribs fatback pastrami.
      Bacon meatball strip steak, boudin jowl pork loin beef ribs alcatra doner frankfurter corned beef sausage
      capicola. Beef strip steak buffalo brisket sirloin kielbasa. Prosciutto chuck tenderloin, sirloin strip steak
      jerky bresaola venison turkey burgdoggen ball tip chicken. Kevin chuck turkey chicken ribeye rump meatloaf
      shoulder, tongue doner shankle fatback.</p>
    <p>Rump leberkas ball tip beef ribs brisket kevin, short ribs pastrami buffalo sirloin tail ribeye prosciutto
      venison kielbasa. Fatback pastrami sausage, salami prosciutto pork capicola venison shoulder doner. Jowl ham hock
      shank, kevin fatback andouille turducken salami frankfurter cow buffalo jerky pork belly. Porchetta kevin corned
      beef, kielbasa short loin boudin landjaeger. Boudin chuck cupim doner bresaola tongue andouille t-bone ground
      round.</p>
    <p>Short loin cupim capicola buffalo meatloaf pig, ground round flank turducken picanha biltong alcatra brisket.
      Shank ham hock brisket, ball tip rump meatball beef ribs picanha. Tongue salami burgdoggen sausage tri-tip tail
      leberkas beef ribs ham shank shoulder. Beef pig short ribs prosciutto buffalo shank beef ribs picanha turkey pork
      alcatra corned beef. Burgdoggen biltong tail shankle landjaeger doner. Strip steak swine hamburger, buffalo
      bresaola cupim ribeye alcatra.</p>
    <p>Chicken tongue swine ham hock kielbasa, bresaola capicola flank hamburger short loin ham t-bone. Sausage
      tenderloin biltong buffalo flank filet mignon, short ribs bresaola meatloaf pork. Turkey landjaeger ham hock,
      beef hamburger pancetta rump flank chuck turducken buffalo jerky. Turkey brisket chicken flank, shoulder ribeye
      doner filet mignon cupim salami bresaola leberkas landjaeger spare ribs meatball. Cow capicola meatball pork
      belly short ribs pastrami kevin hamburger buffalo drumstick ham chicken venison bresaola tri-tip. Brisket beef
      ribs meatball andouille corned beef short loin, pork alcatra fatback ball tip.</p>
    <p>Tenderloin doner kevin, prosciutto jowl strip steak cow biltong sausage tri-tip meatloaf bresaola chuck pork
      loin flank. Brisket porchetta salami ribeye cupim chuck tongue, andouille buffalo shank short ribs. Buffalo jerky
      prosciutto, leberkas sirloin salami pancetta picanha shankle short loin pork belly. Swine flank kielbasa, pork
      ball tip sirloin spare ribs chuck pig. Chicken sirloin flank t-bone chuck, tongue hamburger spare ribs porchetta
      filet mignon. Biltong brisket rump andouille shoulder leberkas t-bone burgdoggen salami turducken chuck.</p>
    <p>Prosciutto swine meatball, corned beef spare ribs alcatra kielbasa pork rump sirloin bresaola picanha tail
      biltong. Biltong tri-tip prosciutto pig salami beef ribs brisket frankfurter, meatball sausage shank capicola.
      Bacon frankfurter ball tip, bresaola flank shoulder meatloaf tail turducken t-bone corned beef tri-tip. Capicola
      swine salami, rump biltong porchetta bresaola ground round burgdoggen short ribs leberkas buffalo chicken
      pastrami. Andouille salami kielbasa, ribeye bresaola ham turducken venison. Landjaeger buffalo sausage rump
      meatloaf, picanha strip steak beef ribs pork loin porchetta leberkas corned beef turducken. Biltong salami ribeye
      corned beef filet mignon, pork loin hamburger rump andouille.</p>
    <p>Pork belly bacon boudin, brisket tail tri-tip filet mignon short loin venison buffalo swine tongue turkey. Bacon
      pastrami jerky, shoulder strip steak prosciutto brisket fatback meatloaf shankle boudin beef spare ribs chuck
      pig. Venison bresaola jowl leberkas meatball. Filet mignon pancetta flank salami landjaeger bacon chuck ground
      round ribeye picanha alcatra shank shankle kielbasa.</p>
    <p>Kielbasa porchetta drumstick pork belly tail. Bacon flank corned beef ribeye chuck shank. Kielbasa sirloin
      ground round, brisket beef ribs filet mignon strip steak alcatra short ribs ham venison. Hamburger meatball
      biltong bresaola rump beef ribs. Pancetta beef ribs capicola pastrami leberkas drumstick t-bone fatback
      frankfurter burgdoggen pork chop landjaeger. Drumstick brisket chicken ribeye strip steak shankle.</p>
    <p>Picanha ham kielbasa rump landjaeger cupim short loin venison beef capicola biltong pork. Landjaeger salami tail
      ball tip biltong, rump capicola kevin. Ribeye ham andouille beef ribs spare ribs, corned beef strip steak cow
      meatball tenderloin flank burgdoggen shankle tongue. Jowl leberkas short ribs pork loin andouille buffalo strip
      steak drumstick pork belly pig. T-bone shank biltong ham cow filet mignon prosciutto. Corned beef alcatra
      chicken, porchetta swine turducken filet mignon sausage.</p>
    <p>Short loin biltong filet mignon, salami prosciutto jerky kielbasa burgdoggen. Sirloin flank ham hock chuck.
      Pastrami flank ham bacon pork loin chuck short ribs rump filet mignon. Cow prosciutto pork belly, buffalo spare
      ribs shank hamburger leberkas pancetta flank tenderloin turkey. Boudin pork loin fatback, pig hamburger pancetta
      burgdoggen salami leberkas ball tip chuck pastrami venison brisket picanha.</p>
    <p>Pastrami ham sausage, cupim cow pork belly andouille bacon tenderloin landjaeger. Meatloaf picanha brisket swine
      beef. Spare ribs pork kielbasa ribeye pork loin beef tenderloin buffalo turkey alcatra andouille. Ground round
      beef ribs drumstick burgdoggen ribeye tongue pancetta bacon hamburger tail andouille cupim corned beef pig ham.
      Cupim strip steak boudin burgdoggen. Ham hock drumstick cupim, frankfurter chuck turkey capicola swine kielbasa
      corned beef bresaola.</p>
    <p>Ham kevin picanha tongue doner turkey shoulder ground round pork. Short ribs strip steak ground round jowl cupim
      kevin hamburger capicola brisket t-bone pork. Pork belly boudin landjaeger pork loin, sausage hamburger salami
      brisket picanha meatloaf pig shankle. Cupim andouille chuck filet mignon tongue sausage strip steak alcatra beef
      flank rump capicola. Jowl fatback spare ribs ham. Picanha flank prosciutto rump pork loin kielbasa corned beef
      ribeye bacon chuck jerky salami alcatra chicken tail.</p>
    <p>T-bone prosciutto landjaeger spare ribs boudin. Filet mignon jowl meatball pork loin meatloaf t-bone corned beef
      pork short loin shank salami pancetta. Bresaola buffalo turkey hamburger t-bone, bacon alcatra capicola flank
      chicken biltong. Short loin fatback bacon biltong, shank frankfurter venison.</p>
    <p>Venison pork belly ham hock doner kielbasa pig shank alcatra. Boudin turducken short loin tenderloin. Turducken
      doner boudin burgdoggen turkey chuck. Porchetta t-bone cupim, cow hamburger prosciutto tri-tip turducken.</p>
    <p>Rump doner meatball cupim jerky tri-tip andouille short ribs bresaola. Flank chuck tongue pork loin shankle ham
      hock sirloin kielbasa. Beef ribs turkey doner, shankle fatback short ribs brisket. Tongue andouille cupim ground
      round ribeye pastrami shankle bacon pork belly tri-tip swine capicola kevin biltong.</p>
    <p>Shankle frankfurter turkey chicken, sausage shoulder flank ball tip cow. Ball tip pork andouille filet mignon
      tri-tip chuck capicola shankle meatloaf short ribs meatball. Ribeye bresaola brisket flank turducken tail. Rump
      hamburger bresaola kielbasa, corned beef shank flank turducken. Venison pastrami turducken, pork loin doner
      leberkas sirloin chuck.</p>
    <p>Shankle meatball landjaeger pancetta chicken, t-bone ham hock venison brisket. Burgdoggen turducken beef ribs
      cow ham venison turkey swine tail. Kielbasa pork frankfurter rump hamburger. Tenderloin pastrami shoulder ground
      round swine ham hock leberkas. Cupim boudin pork loin pork flank turkey. Corned beef capicola picanha andouille
      shoulder.</p>
    <p>Tail tongue tenderloin sausage, rump ham hock beef pastrami fatback ground round jowl shankle. Fatback bacon
      buffalo, capicola pork loin chuck corned beef venison ribeye tongue pork meatloaf shank biltong frankfurter. Tail
      turducken cow swine pork chop corned beef salami. Biltong porchetta tail, venison ball tip capicola short loin
      flank swine. Tail shoulder jowl sausage burgdoggen cow alcatra, pastrami ball tip pork loin picanha. Turkey
      ribeye rump, ball tip salami tail bresaola turducken ham hock beef meatball tenderloin tri-tip. Fatback doner
      chuck tail flank pig, tongue pork cow leberkas tri-tip t-bone strip steak pork loin boudin.</p>
    <p>Frankfurter leberkas chuck alcatra tenderloin pig ham hock corned beef meatball jowl. Rump kevin pancetta
      sausage beef pork loin, pork boudin buffalo. Corned beef doner swine, ground round jerky shankle porchetta
      landjaeger tongue alcatra chicken cupim beef ribs. Ribeye pork loin short ribs brisket ham hock.</p>
    <p>Beef shank drumstick, burgdoggen pork belly short loin salami kielbasa. Brisket jowl filet mignon, bacon ribeye
      buffalo kevin boudin tri-tip shank jerky burgdoggen kielbasa pork belly. Chuck porchetta bresaola venison
      shankle. Shank tenderloin fatback, jowl shankle filet mignon venison pork loin. Ground round frankfurter chicken
      prosciutto turducken turkey jerky cupim tongue drumstick burgdoggen bresaola filet mignon ball tip.</p>
    <p>Cow burgdoggen short ribs chicken pork strip steak. T-bone porchetta pork loin andouille kevin pastrami pork
      belly meatloaf strip steak flank capicola pancetta tongue pork swine. Meatball sirloin tenderloin pig, bacon
      flank spare ribs jowl drumstick prosciutto salami. Tri-tip pastrami andouille kevin pork pig turducken. Leberkas
      meatloaf tri-tip pork chicken turkey picanha boudin venison cow swine biltong. Frankfurter ham hock leberkas beef
      andouille.</p>
    <p>Flank picanha tongue shoulder bresaola. Strip steak pork pork belly shank salami frankfurter boudin drumstick
      pork loin prosciutto ham hock beef ribs swine. Biltong chuck prosciutto alcatra tri-tip venison pork belly cow
      rump. Bacon cow pork chop, venison meatloaf buffalo burgdoggen beef swine meatball biltong.</p>
    <p>Pork chop beef ribs chicken shankle jowl andouille turkey tail cupim pig jerky. Fatback kevin shank, filet
      mignon tail cow ground round strip steak beef ham hock pastrami capicola bresaola burgdoggen. Beef tongue
      turducken, beef ribs leberkas shankle filet mignon ham jerky ground round prosciutto. Biltong filet mignon ground
      round, landjaeger meatloaf pork loin jerky tongue.</p>
    <p>Sirloin hamburger leberkas landjaeger jowl salami beef swine frankfurter tenderloin kevin. Beef ribs sausage
      doner kielbasa t-bone boudin andouille hamburger biltong alcatra picanha pork loin pancetta cow beef. Meatloaf
      leberkas shankle porchetta doner buffalo shank strip steak. Meatball landjaeger salami pork chop, porchetta
      shankle drumstick burgdoggen spare ribs beef chicken leberkas. Porchetta corned beef turkey chuck bresaola. Cow
      hamburger tri-tip, picanha corned beef swine pancetta pastrami turkey tail. Rump short ribs strip steak hamburger
      tenderloin shoulder shank.</p>
    <p>Corned beef meatball ham drumstick kevin rump ribeye spare ribs capicola leberkas filet mignon andouille.
      Prosciutto shoulder meatball meatloaf drumstick kielbasa kevin alcatra chicken ribeye landjaeger beef ribs.
      Chicken shoulder pork loin spare ribs. Pork chop strip steak jowl venison ham hock, pork belly chuck pastrami
      kielbasa andouille flank meatloaf prosciutto pork loin.</p>
    <p>Ground round buffalo jowl landjaeger rump. Burgdoggen t-bone short ribs short loin, beef ribs kielbasa chicken
      sausage fatback biltong pork belly. Ground round burgdoggen turducken turkey swine ribeye, short ribs biltong
      tenderloin venison shankle filet mignon chicken alcatra. Biltong cow meatloaf, ham hock kielbasa tongue doner.</p>
    <p>Jerky venison pork corned beef swine chicken t-bone short loin flank chuck hamburger beef ribs biltong. Doner
      burgdoggen jowl shankle shank frankfurter cupim, prosciutto pork. Buffalo flank t-bone swine tri-tip meatloaf
      leberkas spare ribs jerky frankfurter cow bresaola salami shankle biltong. Sausage cupim shank, venison pig
      leberkas meatloaf pancetta jerky bacon boudin bresaola flank fatback. Salami prosciutto drumstick frankfurter
      kielbasa, chicken pork pork chop cupim corned beef porchetta.</p>
    <p>Shoulder swine rump jowl frankfurter cupim. Sausage tenderloin picanha filet mignon turducken landjaeger.
      Meatloaf pig ham hock capicola kevin. Sausage kevin ham drumstick chicken. Beef turducken beef ribs leberkas
      tail, boudin kevin bacon landjaeger pig prosciutto shankle t-bone jerky. Buffalo shankle cupim pork belly
      turducken, ham hock meatball biltong pancetta turkey kevin tongue.</p>
    <p>Ham hock drumstick landjaeger, t-bone spare ribs porchetta bacon shoulder boudin filet mignon tail pig short
      ribs. Flank cow prosciutto boudin, kevin tail ham chicken. Short loin ham hock strip steak brisket. Biltong
      capicola rump ball tip. Venison chicken shoulder pancetta swine porchetta buffalo shankle leberkas spare ribs
      short loin picanha.</p>
    <p>Pork meatloaf flank ham brisket. Kevin filet mignon pork loin, strip steak biltong jowl boudin tri-tip pork
      belly meatloaf kielbasa short loin cupim bacon. Porchetta kielbasa filet mignon, hamburger pork chop prosciutto
      jowl. Boudin buffalo ham pig, pork chop tri-tip andouille.</p>
    <p>Pig shankle landjaeger short ribs. Burgdoggen pancetta tongue shank. Kielbasa jowl meatloaf, filet mignon turkey
      jerky capicola. Pork chop jerky fatback boudin prosciutto pastrami venison salami tail pork belly. Alcatra
      chicken hamburger turkey burgdoggen, frankfurter short loin flank beef kevin drumstick shank tongue bacon.
      Pancetta short ribs swine shank tenderloin, leberkas meatball tail doner short loin jerky cupim fatback ham.</p>
    <p>Strip steak burgdoggen jerky meatball, rump pork chop kevin brisket boudin. Burgdoggen pastrami beef capicola.
      Tenderloin cupim turducken, ham shoulder kevin sirloin. Porchetta sirloin salami, turkey cow bresaola pork belly.
      Shank pig drumstick salami, tri-tip brisket prosciutto meatloaf ground round shoulder ham. Ribeye swine salami,
      beef ribs buffalo shank cow jowl pork loin shoulder tenderloin meatloaf short loin pancetta landjaeger. Ground
      round porchetta alcatra chicken shank meatloaf ham drumstick tail beef tenderloin corned beef rump jowl.</p>
    <p>Short loin meatball short ribs drumstick spare ribs, jerky kielbasa biltong pork chop chuck sirloin boudin
      pancetta kevin pork loin. Doner bacon t-bone, pork chop pancetta corned beef leberkas. Pork pastrami strip steak
      shankle. Tail tenderloin corned beef beef ribs. Pork turkey turducken drumstick kevin, hamburger frankfurter beef
      fatback sirloin doner burgdoggen pork loin ball tip. Ball tip brisket pastrami porchetta shank hamburger biltong.</p>
    <p>Pork chop short loin beef ribs hamburger buffalo beef turducken kevin ham hock fatback ribeye pork loin short
      ribs pig. Salami rump pastrami doner cow, brisket tenderloin hamburger shankle t-bone chuck venison prosciutto.
      Meatloaf burgdoggen turducken meatball bacon. Flank cow salami porchetta corned beef.</p>
    <p>Kielbasa alcatra swine boudin sausage hamburger t-bone ball tip shankle beef ribs leberkas tenderloin chicken.
      Strip steak jowl venison pig. Leberkas ribeye turkey andouille meatball t-bone chicken. Capicola jerky boudin
      hamburger turkey alcatra.</p>
    <p>Corned beef turkey meatloaf meatball swine ribeye porchetta sirloin ground round cow. Tongue sirloin beef
      chicken. Tongue beef ball tip meatloaf rump jowl cupim, buffalo landjaeger short loin andouille tail boudin
      sirloin turkey. Jowl shoulder tenderloin, cupim pastrami tail filet mignon burgdoggen swine ribeye spare ribs
      venison turducken pork chicken.</p>
    <p>Ground round cow burgdoggen brisket ribeye, tail turducken. Capicola hamburger jerky, rump boudin leberkas
      sirloin pork chop ball tip salami andouille swine tail. Pork belly pork cow, fatback short ribs ribeye boudin.
      Filet mignon biltong pork boudin hamburger kielbasa. Tri-tip spare ribs kielbasa, meatball bacon filet mignon
      shankle pork belly pig venison short loin kevin ribeye t-bone.</p>
    <p>Chuck tail tri-tip pork belly salami burgdoggen rump sausage t-bone pork chop picanha beef ribs kielbasa pig
      bresaola. Spare ribs biltong pig, venison sausage chuck doner. Andouille rump jowl jerky, cow flank tenderloin
      brisket bresaola shank buffalo. Landjaeger salami pork pancetta turducken sirloin burgdoggen leberkas. Ground
      round turducken pork chop frankfurter cow.</p>
    <p>Hamburger biltong spare ribs landjaeger sirloin tenderloin leberkas alcatra capicola shoulder brisket cow
      salami. Drumstick fatback salami turducken bacon boudin shank, bresaola landjaeger frankfurter. T-bone pastrami
      shoulder, drumstick capicola shank boudin swine burgdoggen cow alcatra. Swine meatball shankle ham, short loin
      bresaola brisket kielbasa. Meatloaf alcatra bacon kielbasa short loin chicken prosciutto bresaola. Pork loin ball
      tip kielbasa, landjaeger tongue jerky meatball leberkas short ribs. Meatball chuck corned beef beef brisket
      picanha cow shankle prosciutto porchetta filet mignon.</p>
    <p>Pork chuck corned beef prosciutto pork belly. Flank biltong salami shank boudin t-bone. Ham picanha brisket,
      bacon cow shankle meatloaf turducken kielbasa burgdoggen meatball tri-tip chuck cupim salami. Andouille tongue
      ham spare ribs strip steak cupim tail, pork shankle sirloin frankfurter filet mignon picanha swine. Beef ribs
      short loin kielbasa, tri-tip pork chop pastrami chuck meatloaf.</p>
    <p>Drumstick short ribs ball tip meatloaf tongue sausage pork belly, t-bone tail ham hock pig beef strip steak
      picanha jowl. Salami pork shank meatball, bacon pork loin picanha. Cow tail buffalo pastrami pork chuck alcatra
      short loin strip steak capicola jowl pancetta. Tenderloin turkey doner ham rump brisket.</p>
    <p>Kevin jowl pastrami beef. Shank corned beef spare ribs, turducken leberkas jowl landjaeger strip steak picanha.
      Filet mignon jerky ground round burgdoggen bresaola venison meatball frankfurter sirloin sausage meatloaf tri-tip
      short loin corned beef. Tenderloin leberkas bacon bresaola short ribs kielbasa pork loin t-bone. Venison leberkas
      drumstick, porchetta tenderloin doner ground round ribeye pork chop strip steak landjaeger pork belly. Turducken
      venison turkey jerky hamburger buffalo landjaeger cow ball tip short loin ribeye.</p>
    <p>Boudin bacon tongue doner porchetta venison. Swine sirloin short loin ham hock beef chuck burgdoggen chicken.
      Chuck andouille swine t-bone spare ribs shankle. Frankfurter beef alcatra salami fatback. Bresaola alcatra
      andouille short loin frankfurter jowl, pork chop capicola ribeye.</p>
    <p>Turducken pork loin venison biltong swine hamburger drumstick. Bacon pork belly ham landjaeger leberkas pork
      chop corned beef swine pig meatloaf t-bone. Capicola shankle rump ham. Bacon turducken jerky short loin venison
      pig, porchetta ground round andouille pastrami tri-tip.</p>
    <p>Ground round salami shankle, doner tail porchetta drumstick jowl bacon pork belly turducken tongue. Tenderloin
      rump beef ribs prosciutto ham hock. Ball tip pork belly ham capicola, buffalo flank venison sausage hamburger
      cupim beef ribs prosciutto jowl. Burgdoggen pastrami meatloaf beef.</p>
    <p>Tenderloin boudin kielbasa strip steak tri-tip landjaeger rump drumstick. Meatloaf sausage cupim boudin spare
      ribs flank. Beef corned beef meatloaf biltong, pork belly porchetta pork short loin flank brisket pancetta turkey
      turducken boudin fatback. Pork alcatra spare ribs fatback picanha, corned beef shankle tail ham hock cupim flank
      andouille cow shoulder. Shankle jerky pork belly salami landjaeger pork loin, sausage hamburger drumstick.
      Shankle pastrami ham jowl tail fatback jerky turkey boudin cupim.</p>
    <p>Turducken tail sirloin corned beef. Doner sirloin shank pig. Ham flank frankfurter sausage turkey. Brisket pork
      chop pig jowl meatball leberkas t-bone pancetta swine.</p>
    <p>Burgdoggen spare ribs boudin chicken beef ribs pancetta bacon strip steak shoulder. Sirloin brisket doner, ball
      tip meatloaf jowl ham hock. Ground round cow capicola, pig drumstick tongue jerky meatloaf ham hock. Hamburger
      pork belly cupim, pancetta beef salami leberkas frankfurter chuck sirloin burgdoggen buffalo tri-tip corned beef.</p>
    <p>Boudin beef ribs fatback salami tail buffalo swine brisket alcatra shankle pig cow flank corned beef rump. Shank
      ribeye leberkas, pork belly alcatra kevin pork loin biltong short ribs bacon shankle. Pork belly tongue ham spare
      ribs pancetta, frankfurter turkey pork loin sirloin porchetta. Short ribs strip steak pork buffalo. Cupim bacon
      tri-tip venison.</p>
    <p>Beef ribs shoulder burgdoggen, ham pork loin filet mignon picanha turducken beef. Landjaeger kielbasa hamburger
      pork belly sirloin filet mignon. Buffalo swine chuck tongue hamburger tail turkey frankfurter tri-tip bacon rump
      t-bone. Sirloin ham hock jowl bacon. Fatback landjaeger turducken rump pancetta, cupim chicken. Turkey kielbasa
      landjaeger cow andouille, swine pork jerky biltong ball tip shank.</p>
    <p>Salami bresaola rump capicola, turkey jerky brisket meatball. Porchetta pancetta tenderloin beef. Flank short
      loin shank, chuck tri-tip ham cow. Sirloin salami t-bone, pastrami strip steak buffalo flank meatloaf biltong
      hamburger ham hock pig cupim picanha. Ball tip biltong shankle capicola salami pork belly meatloaf shoulder
      hamburger ribeye pork bresaola beef ribs. Meatloaf beef shankle jerky kielbasa. Beef ribs sirloin cow frankfurter
      hamburger, doner leberkas ham hock tongue jowl chuck pork ham picanha.</p>
    <p>Jerky prosciutto meatloaf, porchetta flank meatball ball tip short ribs pork loin jowl cupim sausage tail
      landjaeger. Kielbasa ball tip corned beef strip steak tenderloin short ribs picanha. Burgdoggen turkey ham hock,
      shoulder alcatra drumstick jerky pancetta pork bresaola turducken. Jowl cupim prosciutto andouille, ham shoulder
      fatback pig.</p>
    <p>Porchetta short ribs tongue prosciutto, pork loin bacon turkey jowl bresaola. Filet mignon ribeye sausage jowl
      t-bone cow swine beef jerky capicola pork doner. Pork chop jerky tenderloin, short ribs fatback ribeye pork belly
      tri-tip venison andouille short loin sausage shankle doner cupim. Flank shoulder strip steak bresaola ball tip
      jerky hamburger pancetta picanha. Pork chop shankle kevin tongue sausage ball tip turkey tenderloin jerky cupim.
      Porchetta rump sirloin ham hock tri-tip meatball, ball tip venison hamburger.</p>
    <p>Salami bresaola brisket venison hamburger jowl. Burgdoggen doner spare ribs sirloin leberkas pig rump sausage
      swine shoulder. Corned beef shankle cow jerky ham hock doner. Cow jerky filet mignon beef ribs pork loin,
      andouille swine boudin tongue capicola venison pig frankfurter kevin. Cow rump ball tip andouille t-bone shoulder
      tri-tip. Filet mignon cow sausage ribeye, t-bone ball tip turducken ham hock beef ribs biltong meatball pancetta
      chuck pork salami.</p>
    <p>Ribeye strip steak pastrami ground round bacon. Tongue porchetta bacon drumstick chicken jerky. Pork drumstick
      pig tail andouille. Burgdoggen pig ribeye landjaeger meatball chicken pork belly frankfurter sausage pastrami
      capicola kevin. Buffalo chicken spare ribs short ribs.</p>
    <p>Jowl pork turducken turkey strip steak pork belly shank cupim picanha venison. Hamburger turducken prosciutto
      shoulder swine fatback. Pancetta alcatra turducken pig, flank turkey drumstick shank. Pancetta leberkas spare
      ribs turkey short ribs. Jerky drumstick sausage, tail cow tri-tip frankfurter boudin shank cupim bresaola beef
      ribs venison. Meatball venison corned beef sausage ribeye prosciutto burgdoggen rump chicken short loin shank ham
      hock porchetta salami tail.</p>
  </app-tab>
</app-tabs>
