<app-tabs clickSoundResource="./assets/snd/Hit-sound.mp3">
  <app-tab id="lorem-picsum" description="Lorem Picsum" active="true">
    <div class="random-img">
      <img src="https://picsum.photos/1000/500/?random" alt="Imagem aleatória">
    </div>
  </app-tab>
  <app-tab id="bacon-ipsum" description="Bacon Ipsum">
    <app-bacon-ipsum></app-bacon-ipsum>
  </app-tab>
  <app-tab id="about" description="Sobre" position="right" clickSoundResource="./assets/snd/Connection-established-sound-effect.mp3">
    <app-about></app-about>
  </app-tab>
</app-tabs>
